@mixin btn($color: $action-color) {
  padding: 18px 30px;
  color: $text;
  background: $color;
  border: 0;
  display: inline-block;
  text-align: center;
  line-height: 100%;
  width: 100%;
  font-family: myriad-pro-condensed, sans-serif;
  font-weight: 700;
  cursor: pointer;
  @include media($tab) {
    width: auto;
  }
  @media (hover: hover) {
    &:hover {
      background-color: darken($color, 10%);
      color: white !important;
    }
  }

  &[disabled=disabled] {
    pointer-events: none;
  }
}
