
@mixin h1() {
  font-family: $heading-font-family;
  color: $title;
  font-weight: 700;
  line-height: $heading-line-height;
  font-size: 2rem;
  @include media($tab) {
    font-size: 2.5rem;
  }
  @include media($desk) {
    font-size: 3rem;
  }
}

@mixin h2() {
  font-family: $heading-font-family;
  color: $title;
  font-weight: 700;
  line-height: $heading-line-height;
  font-size: 1.7rem;
  @include media($tab) {
    font-size: 2rem;
  }
  @include media($desk) {
    font-size: 2.3rem;
  }
}

@mixin h3() {
  font-family: $heading-font-family;
  color: $title;
  font-weight: 700;
  line-height: $heading-line-height;
  font-size: 1.5rem;
  @include media($tab) {
    font-size: 1.7rem;
  }
  @include media($desk) {
    font-size: 1.9rem;
  }
}

@mixin h4() {
  font-family: $heading-font-family;
  color: $title;
  font-weight: 700;
  line-height: $heading-line-height;
  font-size: 1.3rem;
  @include media($tab) {
    font-size: 1.4rem;
  }
  @include media($desk) {
    font-size: 1.5rem;
  }
}
