@import "../variables/_spacing";
@import "../variables/grid";
@import "../variables/breakpoints";
@import "../includes/include-media";
@import "../mixins/fa";

@import "../variables/colours";

.p {
  position: relative;
  margin-bottom: 1rem;
  &.remove-margin-bottom {
    margin-bottom: 0 !important;
  }

  &.remove-margin-top {
    margin-top: 0 !important;
  }

  &.remove-padding-bottom {
    padding-bottom: 0 !important;
  }

  &.remove-padding-top {
    padding-top: 0 !important;
  }

  &.paragraph--unpublished {

    @include fa('\f070');

    &::before {
      font-size: 50px;
      position: absolute;
      top: 50px;
      left: 50px;
      color: #033F41;
      z-index: 9;
    }

    > * {
      opacity: 0.5 !important;
      filter: grayscale(1);
    }
  }
}

.block-oyster.block-page-sections-block .sections .p {
  margin-bottom: 0;
}
