@import "../base-imports";

.pt--featured-news-item {
  header {
    margin-bottom: 1em;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    align-items: center;
  }

  .title {
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
  }

  .link {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }

  &.image-position-right {
    .news.news-teaser-large {
      .text {
        @include media($tab) {
          order: 1;
        }
      }

      .image {
        @include media($tab) {
          order: 2;
        }
      }
    }
  }
}
