
// Neat Overrides
$column: 70px;
$gutter: 40px;

$grid-columns: 12;
$max-width: 1440px;

// Neat Breakpoints
$medium-screen: 600px;
$large-screen: 1025px;
$no-mobile-menu: 1130px;
$xlarge-screen: 1400px;
$xxlarge-screen: 1500px;
